header {
  background-color: black;
}

.mat-icon {
  height: 20px;
  width: 20px;
  font-size: 21px;
  padding: 2px;
  margin-right: 4px;
}

.icona-berserk {
  width: 48px;
  height: 48px;
  margin-right: 5px;
}

