<app-carousel></app-carousel>

<div id="main-container">
  <div class="container-titolo">
    <h2>Benvenuti Nella <span class="container-tana">Tana</span></h2>
    <p class="paragrafo">Bentrovati nella Tana, antro di mille fantasie e sogni; lasciati trasportare alla scoperta del mondo a fumetti, tra autori occidentali e Orientali. La Tana offre una vasta varietà di letture fra Comics e Manga, dalla cruda visione della società capitalistica di Kirkman con il suo "The Walking Dead", passando dalla dolce commistione di Amore e Odio, di bene e male dell'opera magna del compianto maestro Miura, Berserk, fino alla dolcezza della scoperta nella sua forma più pura, portavoce dell'amicizia, della risata e dell'importanza della libertà, One Piece!</p>
  </div>
  <app-libri></app-libri>
</div>

