//prymary colors
$primary-color-1: red;
$primary-color-2: rgb(148, 42, 42);
$primary-color-3: #ffc107;

//secondary colors
$secondary-color-1: white;
$secondary-color-2: rgb(125, 113, 113);
$secondary-color-3: rgb(91, 88, 88);
$secondary-color-4: rgb(49, 49, 49);
$secondary-color-5: rgb(0, 0, 0);



